<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
 <h1>{{ currentDomain }}</h1>
  <div class="input-group">
      <input type="search" id="searchbox" class="form-control" ng-model="searchTerm" placeholder="Search for..." />
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
  </div>
  <br />
  <ul class="list-group">
    <li class="list-group-item animate-repeat" ng-repeat="item in items | filter: searchTerm">
        <strong>{{item.isbn}}</strong><br>
        <span class="text-muted">{{item.type}}, ${{item.price}}, {{item.classcode}}</span>
        <button class="pull-right" type="button" ng-click="message(item._id, item.sellerid)">Get book</button>
    </li>
  </ul>
</div>
