<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
<form name="addItem">
  <div class="form-group">
    <input class="form-control" type="text" ng-model="isbn" placeholder="ISBN" />
  </div>
  <div class="form-group">
    <input class="form-control" type="text" ng-model="classcode" placeholder="Classcode" />
  </div>
  <div class="form-group">
    <input class="form-control" type="text" ng-model="price" placeholder="Price" />
  </div>
  <div class="form-group">
    <label>Price is negotiable?</label><br />
    <label class="radio-inline">
      <input class="" name="negotiable" type="radio" value="y" ng-model="negotiable"/> Yes
    </label>
    <label class="radio-inline">
      <input class="" name="negotiable" type="radio" value="n" ng-model="negotiable"/> No
    </label>
    <label class="radio-inline">
      <input class="" name="negotiable" type="radio" value="u" ng-model="negotiable"/> Undecided
    </label>
  </div>
  <div class="form-group">
    <label>Type</label>
    <select class="form-control" ng-model="type">
      <option value="">
        Select a type
      </option>
      <option value="Workbook">
        Workbook
      </option>
      <option value="Textbook">
        Textbook
      </option>
      <option value="Solution Manual">
        Solution Manual
      </option>
      <option value="Lab Manual">
        Lab Manual
      </option>
      <option value="Lab Workbook">
        Lab Workbook
      </option>
      <option value="Study Guide">
        Study Guide
      </option>
    </select>
  </div>
  <button type="submit" ng-click="addItemSubmit()">Add</button>
</form>
</div>
